body {
    background: black;
    background-size: 500%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.7em;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.25;
    }

}