footer {
    background-color: #FFA0A0;
}

footer p {
    
    margin: 0;
    padding: 12px;
    color: #9A100D;

}

footer .conteiner {
    padding: 10px;
    border: 1px hidden rgb(0, 0, 0);
    margin: 1px 1px 1px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}