$map: (
    key: value,
    nextkey: nextvalue
);

.element:before {
  content: map-get($map, key);
}

.element:before {
  content: value;
}

$map: (
    key: value,
    nextkey: nextvalue
);
 
.element {
  @if map-has-key($map, key) {
    content: (value );
  } @else {
    content: (value );
  }
}