//variables
$color-principal: #9A100D;
$color-uno: #FF393E;
$color-dos: #333;
$color-tres: #FFA0A0;
$color-letra: #ffffff;
$font-sizeh1: 3.5em;
$font-sizeh2: 2.7em;
$font-sizeh3: 2em;
$font-sizeBotton: 1.75 em;
$font-sizeP: 1.25 em;
$brand: 'dsc';

$palette: (
    'primary':  #FF393E,
    'secundary': #ffffff,
    'success': #9A100D,
    'danger': #FFA0A0,
    'dark': #333,
    'oregane': orange,
    'blue': salmon,
);